body {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #d8e2dc;
}

.logo {
    margin-bottom: 10px;
}

.screen {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    line-height: 150%;
    font-size: 16px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 25%;
    padding: 10px;
}

footer p {
    font-size: 12px;
}



