body {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

img {
    margin: 10px;
}

.container {
    background-color: #d8e2dc;
    padding: 10px;
}